.NUcolor {
    --background: #6d1c78;
  }
  
  .Logo_user {
    --background: #6d1c78;
    --color: white;
  }
  
  .Dica {
    --background: #90269e;
    --color: white;
  }

  .Textbutton {
    --background: #90269e;
    overflow: hidden;
    text-overflow: ellipsis;
    --color: white;
    size: small;
  }