<ion-content class="view-class" title="login" id="page1">
  <ion-content padding="true" class="has-header">
    <img src="assets\nubank-logo.jpg" style="height: 100px; width: 100px;margin-left: 150px" />
    <form id="login-form1" class="list">
      <label class="item item-input" id="login-input2">
        <span style="color:#FFFFFF; margin-left: 20px" class="input-label">E-mail</span>
        <input type="email" style="margin-left: 40px" placeholder="" name="userid">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="login-input3">
        <span style="color:#FFFFFF; margin-left: 20px" class="input-label">Senha</span>
        <input type="password" style="margin-left: 40px" placeholder="" name="psswd">
      </label>
      <br>
      <br>
    </form>
    <br>
    <br>
    <a href="http://localhost:8100/tabs/home" style="margin-left: 160px;color:#FFFFFF;text-decoration:none"  id="login-button2" class="button button-light button-block button-clear">Login</a>
    <br>
    <br>
    <a style="margin-left: 60px;color:#FFFFFF;text-decoration:none"  id="login-button2" class="button button-light button-block button-clear">Ainda não tem uma conta? Clique aqui</a>
  </ion-content>

</ion-content>

