<ion-content class="NUcolor">

  <ion-grid>
    <ion-row style="padding:20px; height:0px">
       <ion-col size="2" offset="0">
         <div style="color: #ffb947">
         <ion-icon  name="star-half-outline" slot="star-half-outline" style="color:#ffb947;font-size:22px"></ion-icon>
         </div>
       </ion-col>
       <ion-col size="8">
         <ion-title size="large" color="light" class="ion-text-center">
           <img src="assets\nubank-logo.jpg" style="height: 20px; width: 20px;"/>
             Lola
         </ion-title>
       </ion-col>
   </ion-row>
   <ion-row style="padding:8px; color: #ffb947; padding-left: 22px;">
     572
   </ion-row>
 </ion-grid>
    
  <ion-row style="height: 20px"></ion-row>

  <ion-title size="large" color="light" class="ion-text-center">
    Dados sobre consumo
  </ion-title>

  <ion-row style="height: 20px"></ion-row>

  <div>
    <ion-slides pager class="ion-slides">
      <ion-slide>
        <ion-card class="Dica" style="height: 400px; width: 350px;">
          <ion-card-content class="ion-text-center">
            <ion-title size="large;" style="color: black;" class="ion-text-center">  
              Despesas mensais:
            </ion-title>
            <canvas #doughnutCanvas style="position: relative; margin: auto; height: 300px; width: 300px;"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="Dica" style="height: 400px; width: 350px;">

          <ion-card-content class="ion-text-center">
            <ion-title size="large" style="color: black;" class="ion-text-center">  
              Gastos mensais totais:
            </ion-title>
            <canvas #lineCanvas style="position: relative; margin: auto; height: 300px; width: 300px;"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="Dica" style="height: 400px; width: 350px;">

          <ion-card-content class="ion-text-center">
            <ion-title size="large" style="color: black;" class="ion-text-center">  
              Economias mensais totais:
            </ion-title>
            <canvas #economias style="position: relative; margin: auto; height: 300px; width: 300px;"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </div>
