ion-content ion-toolbar {
  --background: translucent;
}

.NUcolor {
  --background: #6d1c78;
}

ion-button {
  --header-color: #90269e;
  --background: #90269e;
  --color: white;
  width:200px;
}

ion-slides {
    --bullet-background: #481150;
    --bullet-background-active: #6d1c78;
    //height: auto;
    //height:100%;
    //overflow-y: auto;
    overflow-y: scroll;
    //display: block;
    //height: initial;
    
  }