<ion-content [fullscreen]="True">
  <ion-toolbar class="NUcolor">

    <ion-row style="height: 30px"></ion-row>

    <ion-title size="large" color="light" class="ion-text-center">
      <img src="assets\nubank-logo.jpg" style="height: 20px; width: 20px;" />
      Lola
    </ion-title>
    
    <ion-row style="height: 20px"></ion-row>


    <ion-title size="small" color="light" class="ion-text-center">  
      Dica do dia:
    </ion-title>
    <ion-card class="Dica">
    
      <ion-card-content class="ion-text-center"> 
        O euro não para de subir :(
      </ion-card-content>
    
    </ion-card>

    <ion-row style="height: 10px"></ion-row>

    <div>
      <ion-slides pager class="ion-slides">
        <ion-slide>
          <ion-card class="Dica" style="height: 290px; width: 300px;">

            <ion-card-content class="ion-text-center">
              Seja bem-vinda, Lola!


              
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="Dica" style="height: 290px; width: 300px;">

            <ion-card-content class="ion-text-center">
              Confira as estatísticas, Lola!
              <ion-row style="height: 0px"></ion-row>
              Gráficos
              <ion-row style="height: 0px"></ion-row>
              Que
              <ion-row style="height: 0px"></ion-row>
              Mostram
              <ion-row style="height: 0px"></ion-row>
              Seu
              <ion-row style="height: 0px"></ion-row>
              Consumo
              <ion-row style="height: 0px"></ion-row>
              :D
              <ion-row style="height: 20px"></ion-row>
              <ion-row style="height: 20px"></ion-row>
              Metas de economia da semana (25%):
              <ion-progress-bar value="0.25" style="height: 15px; bottom: 0px;" color="warning"></ion-progress-bar>
            </ion-card-content>
          </ion-card>
        </ion-slide>


        <ion-slide>
          <ion-card class="Dica" style="height: 290px; width: 300px;">

            <ion-card-content class="ion-text-center">
              Rewards!
              <ion-row style="height: 0px"></ion-row>
              Vamos
              <ion-row style="height: 0px"></ion-row>
              Gamificar
              <ion-row style="height: 0px"></ion-row>
              e
              <ion-row style="height: 0px"></ion-row>
              ganhar
              <ion-row style="height: 0px"></ion-row>
              vqv
              <ion-row style="height: 0px"></ion-row>
              time
              <ion-row style="height: 20px"></ion-row>
              <ion-row style="height: 20px"></ion-row>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="Dica" style="height: 290px; width: 300px;">

            <ion-card-content class="ion-text-center">
              Confira o FalaNu, Lola!
              <ion-row style="height: 0px"></ion-row>
              Algumas
              <ion-row style="height: 0px"></ion-row>
              dicas
              <ion-row style="height: 0px"></ion-row>
              e
              <ion-row style="height: 0px"></ion-row>
              conselhos
              <ion-row style="height: 0px"></ion-row>
              especialmente
              <ion-row style="height: 0px"></ion-row>
              para você
              <ion-row style="height: 20px"></ion-row>
              <ion-row style="height: 20px"></ion-row>
            </ion-card-content>
          </ion-card>
        </ion-slide>

      </ion-slides>

    </div>

    <ion-row style="height: 0px"></ion-row>


    <div class="ion-text-center">
      <ion-button class="ion-button" shape="round">
        Adicionar Receita
      </ion-button>
    </div>

    <div class="ion-text-center">
      <ion-button class="ion-button" shape="round">
        Adicionar Despesa
      </ion-button>
    </div>


    
  </ion-toolbar>
</ion-content>
