<ion-content [fullscreen]="True">
  <ion-toolbar class="NUcolor">

    <ion-grid>
      <ion-row style="padding:20px; height:0px">
         <ion-col size="2" offset="0">
           <div style="color: #ffb947">
           <ion-icon  name="star-half-outline" slot="star-half-outline" style="color:#ffb947;font-size:22px"></ion-icon>
           </div>
         </ion-col>
         <ion-col size="8">
           <ion-title size="large" color="light" class="ion-text-center">
             <img src="assets\nubank-logo.jpg" style="height: 20px; width: 20px;"/>
               Lola
           </ion-title>
         </ion-col>
     </ion-row>
     <ion-row style="padding:8px; color: #ffb947; padding-left: 22px;">
       572
     </ion-row>
   </ion-grid>
    
    <ion-row style="height: 20px"></ion-row>


    <ion-title size="small" color="light" class="ion-text-center" style=" font-weight: bold;">  
      Dica do dia:
    </ion-title>
    <ion-card class="Dica">
    
      <ion-card-content class="ion-text-center"> 
        13° de aposentados será antecipado
      </ion-card-content>
    
    </ion-card>

    <ion-row style="height: 10px"></ion-row>

    <div>
      <ion-slides pager class="ion-slides">
        <ion-slide>
          <ion-card class="Dica" style="height: 290px; width: 300px; background-color: white;">

            <ion-card-content  style="color: black; font-size: large;" class="ion-text-center">
              <ion-row style="height: 10px"></ion-row>
              <ion-title  size="small" style="color: black;" class="ion-text-center">  
                Relação consumo e meta:
              </ion-title>
              <canvas #metas style="position: relative; margin: auto; height: 200px; width: 270px;"></canvas>


              
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="Dica" style="height: 290px; width: 300px;  background-color: white;">

            <ion-card-content  style="color: black;">
              <div style="color: black; font-size: large;" class="ion-text-center">
                Limites à serem atingidos:
              </div>
              <ion-row style="height: 5"></ion-row>
              <div style="color: black;" class="ion-text-left">
                Vestuário do mês:
              </div>
              <progress-bar [progress]="91" [color-degraded]="{'0': 'green',  '50': 'orange', '75': 'red'}">
              </progress-bar>
              <ion-row style="height: 5px"></ion-row>
              <div style="color: black;" class="ion-text-left">
                Mercado do mês:
              </div>
              <progress-bar [progress]="80" [color-degraded]="{'0': 'green',  '50': 'orange', '75': 'red'}">
              </progress-bar>
              <ion-row style="height: 5"></ion-row>
              <div style="color: black;" class="ion-text-left">
                Restaurante do mês:
              </div>
              <progress-bar [progress]="74" [color-degraded]="{'0': 'green',  '50': 'orange', '75': 'red'}">
              </progress-bar>
            </ion-card-content>
          </ion-card>
        </ion-slide>


        <ion-slide>
          <ion-card style="height: 290px; width: 300px;" class="teste">

            <ion-card-content class="ion-text-center">
              <div style="color: black; font-size: large;" class="ion-text-center">
                Histórico de receitas e despesas:
              </div>
              <ion-row style="height: 5"></ion-row>

              <ion-list class="ion-list">
                <ion-item>
                  <ion-label>
                    <div style="font-size: medium;">
                      <ion-icon name="cart-outline"></ion-icon>
                      Supermercado
                    </div>
                    <div>
                      -R$56,87 
                    </div>
                    <div style="font-size: small;">
                      12/03/2020
                    </div>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <div style="font-size: medium;">
                      <ion-icon name="shirt-outline"></ion-icon>
                      Vestuário
                    </div>
                    <div>
                      -R$32,99
                    </div>
                    <div style="font-size: small;">
                      10/03/2020
                    </div>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <div style="font-size: medium;">
                      <ion-icon name="restaurant-outline"></ion-icon>
                      Restaurante
                    </div>
                    <div>
                      -R$18,51
                    </div>
                    <div style="font-size: small;">
                      10/03/2020
                    </div>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <div style="font-size: medium;">
                      <ion-icon name="train-outline"></ion-icon>
                      Transporte
                    </div>
                    <div>
                      -R$83,17
                    </div>
                    <div style="font-size: small;">
                      07/03/2020
                    </div>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <div style="font-size: medium;">
                      <ion-icon name="restaurant-outline"></ion-icon>
                      Restaurante
                    </div>
                    <div>
                      -R$19,75
                    </div>
                    <div style="font-size: small;">
                      07/03/2020
                    </div>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <div style="font-size: medium;">
                      <ion-icon name="cart-outline"></ion-icon>
                      Supermercado
                    </div>
                    <div>
                      -R$40,94 
                    </div>
                    <div style="font-size: small;">
                      04/03/2020
                    </div>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <div style="font-size: medium;">
                      <ion-icon name="restaurant-outline"></ion-icon>
                      Restaurante
                    </div>
                    <div>
                      -R$3,99 
                    </div>
                    <div style="font-size: small;">
                      04/03/2020
                    </div>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <div style="font-size: medium;">
                      <ion-icon name="desktop-outline"></ion-icon>
                      Eletrônicos
                    </div>
                    <div>
                      -R$49,99 
                    </div>
                    <div style="font-size: small;">
                      29/02/2020
                    </div>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <div style="font-size: medium;">
                      <ion-icon name="shirt-outline"></ion-icon>
                      Vestuário
                    </div>
                    <div>
                      -R$58,00 
                    </div>
                    <div style="font-size: small;">
                      27/02/2020
                    </div>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <div style="font-size: medium;">
                      <ion-icon name="cart-outline"></ion-icon>
                      Supermercado
                    </div>
                    <div>
                      -R$71,36 
                    </div>
                    <div style="font-size: small;">
                      26/02/2020
                    </div>
                  </ion-label>
                </ion-item>
              
              </ion-list>
              <ion-row style="height: 20px"></ion-row>

            </ion-card-content>
          </ion-card>
        </ion-slide>

      </ion-slides>

    </div>

    <ion-row style="height: 0px"></ion-row>


    <div class="ion-text-center">
      <ion-button class="ion-button" shape="round" (click)="go_to('./tabs/receita')">
        Adicionar Receita
      </ion-button>
    </div>

    <div class="ion-text-center">
      <ion-button class="ion-button" shape="round" (click)="go_to('./tabs/despesa')">
        Adicionar Despesa
      </ion-button>
    </div>


    
  </ion-toolbar>
</ion-content>
