.NUcolor {
    --background: #6d1c78;
  }

.Dica {
    --brackground: white;
    --color: black;
}

ion-button {
    --header-color: #90269e;
    --background: #90269e;
    --color: white;
  }

  .Logo_user {
    --background: #6d1c78;
    --color: white;
  }