<ion-content [fullscreen]="True" class="NUcolor">
  <ion-toolbar class="NUcolor">

    <ion-grid>
      <ion-row style="padding:20px; height:0px">
         <ion-col size="2" offset="0">
           <div style="color: #ffb947">
           <ion-icon  name="star-half-outline" slot="star-half-outline" style="color:#ffb947;font-size:22px"></ion-icon>
           </div>
         </ion-col>
         <ion-col size="8">
           <ion-title size="large" color="light" class="ion-text-center">
             <img src="assets\nubank-logo.jpg" style="height: 20px; width: 20px;"/>
               Lola
           </ion-title>
         </ion-col>
     </ion-row>
     <ion-row style="padding:8px; color: #ffb947; padding-left: 22px;">
       572
     </ion-row>
   </ion-grid>

    <ion-row style="height: 50px"></ion-row>


    <ion-list style="background-color: initial; margin: 10px;">
      <ion-item class="Logo_user">
        <ion-icon name="help-circle-outline" color="white"></ion-icon>
        <ion-label>Me ajuda</ion-label>
      </ion-item>
      <ion-item class="Logo_user">
        <ion-icon name="person-outline" color="white"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item class="Logo_user">
        <ion-icon name="cash-outline" color="white"></ion-icon>
        <ion-label>Configurar conta</ion-label>
      </ion-item>
      <ion-item class="Logo_user">
        <ion-icon name="construct-outline" color="white"></ion-icon>
        <ion-label>Configurar aplicativo</ion-label>
      </ion-item>
      <ion-item class="Logo_user">
        <ion-icon name="information-circle-outline" color="white"></ion-icon>
        <ion-label>Suporte</ion-label>
      </ion-item>
    </ion-list>

    <ion-row style="height: 50px"></ion-row>


    <div class="ion-text-center">
      <ion-button class="ion-button" shape="round">
        Sair da conta
      </ion-button>
    </div>


  </ion-toolbar>


</ion-content>
