<ion-content [fullscreen]="True" class="NUcolor">
  <ion-toolbar class="NUcolor">

    <ion-row style="height: 30px"></ion-row>
    <ion-title size="large" color="light" class="ion-text-center">
      <img src="assets\nubank-logo.jpg" style="height: 20px; width: 20px;" />
      Lola
    </ion-title>

    <ion-row style="height: 50px"></ion-row>


    <ion-list style="background-color: initial; margin: 10px;">
      <ion-item class="Logo_user">
        <ion-icon name="help-circle-outline" color="white"></ion-icon>
        <ion-label>Me ajuda</ion-label>
      </ion-item>
      <ion-item class="Logo_user">
        <ion-icon name="person-outline" color="white"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item class="Logo_user">
        <ion-icon name="cash-outline" color="white"></ion-icon>
        <ion-label>Configurar conta</ion-label>
      </ion-item>
      <ion-item class="Logo_user">
        <ion-icon name="construct-outline" color="white"></ion-icon>
        <ion-label>Configurar aplicativo</ion-label>
      </ion-item>
      <ion-item class="Logo_user">
        <ion-icon name="information-circle-outline" color="white"></ion-icon>
        <ion-label>Suporte</ion-label>
      </ion-item>
    </ion-list>

    <ion-row style="height: 50px"></ion-row>


    <div class="ion-text-center">
      <ion-button class="ion-button" shape="round">
        Sair da conta
      </ion-button>
    </div>


  </ion-toolbar>


</ion-content>
