<ion-content title="register" id="page3" style="background-color:#6D1C78;">
  <ion-content padding="true" class="has-header">
    <form id="register-form3" class="list">
      <label class="item item-input" id="register-input7">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="register-input8">
        <span class="input-label">Sobrenome</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="register-input11">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="register-input9">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="register-input10">
        <span class="input-label">Confirme sua senha</span>
        <input type="password" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 49px;"></div>
    </form>
    <button id="register-button5" class="button button-light button-block button-clear">Registrar</button>
  </ion-content>
</ion-content>